<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.mps.mapper.CompanyMapper">

    <select id="listCompanyData" resultType="com.me.mps.dto.CompanyDTO">
        SELECT
            (@rownum:=@rownum+1) AS serialNumber,
            com.company_id AS companyId,
            com.name_x AS nameX,
            DATE_FORMAT(com.crtOn_dt, '%Y-%m-%d %H:%i') AS createDate
        FROM (SELECT @rownum:=0) a,  mps_company com
        WHERE com.active_c = 'A'
        ORDER BY com.crtOn_dt ASC
    </select>
    
    <insert id="saveCompany" parameterType="com.me.mps.dto.CompanyDTO">
        INSERT INTO mps_company
        (
              name_x,
              active_c,
              crtBy_m,
              crtOn_dt
        )
        VALUES
        (
              #{nameX,jdbcType=VARCHAR},
              #{activeC,jdbcType=CHAR},
              #{crtByM,jdbcType=VARCHAR},
              #{crtOnDt,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="checkIsExistCompany" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM mps_company com WHERE name_x = #{companyName,jdbcType=VARCHAR} AND active_c = 'A'
    </select>

    <update id="updateCompany" parameterType="com.me.mps.dto.CompanyDTO">
        UPDATE mps_company SET
              name_x = #{nameX,jdbcType=VARCHAR},
              updBy_m = #{updByM,jdbcType=VARCHAR},
              updOn_dt = #{updOnDt,jdbcType=TIMESTAMP}
        WHERE company_id = #{companyId,jdbcType=INTEGER}
    </update>

    <update id="deleteCompany" parameterType="java.lang.Integer">
        UPDATE mps_company SET active_c = 'I' WHERE company_id = #{companyId,jdbcType=INTEGER}
    </update>
</mapper>