<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.mps.mapper.OrderMapper">

    <insert id="saveOrder" parameterType="com.me.mps.dto.OrderDTO" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
        INSERT INTO mps_order
        (
            user_id,
            total_n,
            number_x,
            status_x,
            crtBy_m,
            crtOn_dt
        )
        VALUES
        (
            #{userId,jdbcType=INTEGER},
            #{totalN,jdbcType=DOUBLE},
            #{numberX,jdbcType=VARCHAR},
            #{statusX,jdbcType=VARCHAR},
            #{crtByM,jdbcType=VARCHAR},
            #{crtOnDt,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getOrderByOrderId" parameterType="java.lang.Integer" resultType="com.me.mps.dto.OrderDTO">
        SELECT
              o.order_id AS orderId,
              o.user_id AS userId,
              o.total_n AS totalN,
              o.number_x AS numberX,
              o.status_x AS statusX,
              o.crtBy_m AS crtByM,
              o.crtOn_dt AS crtOnDt
        FROM mps_order o
        WHERE o.order_id = #{orderId,jdbcType=INTEGER}
    </select>

    <select id="confirmPay" parameterType="com.me.mps.dto.OrderDTO">
        UPDATE mps_order SET status_x = #{statusX,jdbcType=VARCHAR} WHERE order_id = #{orderId, jdbcType=INTEGER}
    </select>

    <select id="countOrderByCriteria" parameterType="com.me.mps.helper.SearchCriteria" resultType="int">
        SELECT COUNT(1) FROM mps_order WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <resultMap id="orderMap" type="com.me.mps.dto.OrderDTO">
        <result property="orderId" column="order_id" />
        <result property="userId" column="user_id" />
        <result property="totalN" column="total_n" />
        <result property="numberX" column="number_x" />
        <result property="statusX" column="status_x" />
        <result property="crtByM" column="crtBy_m" />
        <result property="crtOnDt" column="crtOn_dt" />
        <collection property="orderItemDTOList" column="order_id" select="com.me.mps.mapper.OrderItemMapper.getOrderItemByOrderId"/>
    </resultMap>

    <select id="listOrderByCriteria" parameterType="com.me.mps.helper.SearchCriteria" resultMap="orderMap">
        SELECT
              o.order_id,
              o.user_id,
              o.total_n,
              o.number_x,
              o.status_x,
              o.crtBy_m,
              o.crtOn_dt
        FROM mps_order o
        WHERE o.user_id = #{userId,jdbcType=INTEGER}
        ORDER BY o.crtOn_dt DESC
        <if test="pageNation!=null">
            LIMIT #{pageNation.begin}, #{pageNation.limit}
        </if>
    </select>
    
    <update id="updateOrderStatusOrTotalByOrderId" parameterType="com.me.mps.dto.OrderDTO">
        UPDATE mps_order SET
              <if test="totalN==0">
                  status_x = 'Invalid',
              </if>
              total_n = #{totalN,jdbcType=DOUBLE}
        WHERE order_id = #{orderId,jdbcType=INTEGER}
    </update>

</mapper>