<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.mps.mapper.OrderMapper">

    <insert id="saveOrder" parameterType="com.me.mps.dto.OrderDTO" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
        INSERT INTO mps_order
        (
            user_id,
            total_n,
            number_x,
            status_x,
            crtBy_m,
            crtOn_dt
        )
        VALUES
        (
            #{userId,jdbcType=INTEGER},
            #{totalN,jdbcType=DOUBLE},
            #{numberX,jdbcType=VARCHAR},
            #{statusX,jdbcType=VARCHAR},
            #{crtByM,jdbcType=VARCHAR},
            #{crtOnDt,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getOrderByOrderId" parameterType="java.lang.Integer" resultType="com.me.mps.dto.OrderDTO">
        SELECT
              o.order_id AS orderId,
              o.user_id AS userId,
              o.total_n AS totalN,
              o.number_x AS numberX,
              o.status_x AS statusX,
              o.crtBy_m AS crtByM,
              o.crtOn_dt AS crtOnDt
        FROM mps_order o
        WHERE o.order_id = #{orderId,jdbcType=INTEGER}
    </select>

    <select id="confirmPay" parameterType="com.me.mps.dto.OrderDTO">
        UPDATE mps_order SET status_x = #{statusX,jdbcType=VARCHAR} WHERE order_id = #{orderId, jdbcType=INTEGER}
    </select>

    <select id="countOrderByCriteria" parameterType="com.me.mps.helper.SearchCriteria" resultType="int">
        SELECT COUNT(1) FROM mps_order WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <resultMap id="orderMap" type="com.me.mps.dto.OrderDTO">
        <result property="orderId" column="order_id" />
        <result property="userId" column="user_id" />
        <result property="totalN" column="total_n" />
        <result property="numberX" column="number_x" />
        <result property="statusX" column="status_x" />
        <result property="crtByM" column="crtBy_m" />
        <result property="crtOnDt" column="crtOn_dt" />
        <collection property="orderItemDTOList" column="order_id" select="com.me.mps.mapper.OrderItemMapper.getOrderItemByOrderId"/>
    </resultMap>

    <select id="listOrderByCriteria" parameterType="com.me.mps.helper.SearchCriteria" resultMap="orderMap">
        SELECT
              o.order_id,
              o.user_id,
              o.total_n,
              o.number_x,
              o.status_x,
              o.crtBy_m,
              o.crtOn_dt
        FROM mps_order o
        WHERE o.user_id = #{userId,jdbcType=INTEGER}
        ORDER BY o.crtOn_dt DESC
        <if test="pageNation!=null">
            LIMIT #{pageNation.begin}, #{pageNation.limit}
        </if>
    </select>
    
    <update id="updateOrderStatusOrTotalByOrderId" parameterType="com.me.mps.dto.OrderDTO">
        UPDATE mps_order SET
              <if test="totalN==0">
                  status_x = 'Invalid',
              </if>
              total_n = #{totalN,jdbcType=DOUBLE}
        WHERE order_id = #{orderId,jdbcType=INTEGER}
    </update>

    <select id="countOrderByCriteriaInIntranet" parameterType="com.me.mps.helper.SearchCriteria" resultType="int">
        SELECT COUNT(1) FROM mps_order o WHERE 1=1
        <choose>
            <when test="status=='' or status==null">
                AND o.status_x = "Payed" OR o.status_x = "Confirmed" OR o.status_x = "Getted" OR o.status_x = "Over"
            </when>
            <otherwise>
                AND o.status_x = #{status,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </select>

    <select id="listOrderByCriteriaInIntranet" parameterType="com.me.mps.helper.SearchCriteria" resultMap="orderMap">
        SELECT
            o.order_id,
            o.user_id,
            o.total_n,
            o.number_x,
            o.status_x,
            o.crtBy_m,
            o.crtOn_dt,
            c.name_x AS companyName
        FROM mps_order o
        LEFT JOIN mps_user u ON o.user_id = u.user_id
        LEFT JOIN mps_company c ON u.company_id = c.company_id
        WHERE 1=1
        <choose>
            <when test="status=='' or status==null">
                AND o.status_x = "Payed" OR o.status_x = "Confirmed" OR o.status_x = "Getted" OR o.status_x = "Over"
            </when>
            <otherwise>
                AND o.status_x = #{status,jdbcType=VARCHAR}
            </otherwise>
        </choose>
        ORDER BY o.crtOn_dt DESC
        <if test="pageNation!=null">
            LIMIT #{pageNation.begin}, #{pageNation.limit}
        </if>
    </select>

    <update id="updateOrderStatusByOrderId" parameterType="com.me.mps.dto.OrderDTO">
        UPDATE mps_order SET status_x = #{statusX,jdbcType=VARCHAR} WHERE order_id = #{orderId,jdbcType=INTEGER}
    </update>
    
    <select id="countOrderOneDay" resultType="int">
        SELECT COUNT(1) FROM mps_order WHERE DATE_FORMAT(NOW(), "%Y%m%d") = DATE_FORMAT(crtOn_dt, "%Y%m%d") AND status_x = "Over"
    </select>

    <select id="countAmountOneDay" resultType="java.lang.Double">
        SELECT SUM(total_n) FROM mps_order WHERE DATE_FORMAT(NOW(), "%Y%m%d") = DATE_FORMAT(crtOn_dt, "%Y%m%d") AND status_x = "Over"
    </select>

    <select id="countAllOrder" resultType="int">
        SELECT COUNT(1) FROM mps_order WHERE status_x = "Over"
    </select>

    <select id="countAllAmountOneDay" resultType="java.lang.Double">
        SELECT SUM(total_n) FROM mps_order WHERE status_x = "Over"
    </select>
    
    <select id="listRecentOrder" resultType="com.me.mps.dto.OrderDTO">
        SELECT
            o.order_id AS orderId,
            o.user_id AS userId,
            o.total_n AS totalN,
            o.number_x AS numberX,
            o.status_x AS statusX,
            o.crtBy_m AS crtByM,
            o.crtOn_dt AS crtOnDt,
            DATE_FORMAT(o.crtOn_dt, "%Y%m%d %H:%i") AS createDate,
            c.name_x AS companyName,
            u.username_m AS username
        FROM mps_order o
        LEFT JOIN mps_user u ON o.user_id = u.user_id
        LEFT JOIN mps_company c ON u.company_id = c.company_id
        WHERE o.status_x = "Over"
        ORDER BY o.crtOn_dt DESC
        LIMIT 0, 15
    </select>

</mapper>