<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.mps.mapper.UserMapper">

    <insert id="saveUser" parameterType="com.me.mps.dto.UserDTO">
        INSERT INTO MPS_user
        (
              username_m,
              realName_m,
              password_x,
              sex_x,
              age_n,
              email_x,
              phone_x,
              company_id,
              amount_n,
              authority_x,
              active_c,
              crtBy_m,
              crtOn_dt
        )
        VALUES
        (
              #{usernameM,jdbcType=VARCHAR},
              #{realNameM,jdbcType=VARCHAR},
              #{passwordX,jdbcType=VARCHAR},
              #{sexX,jdbcType=VARCHAR},
              #{ageN,jdbcType=INTEGER},
              #{emailX,jdbcType=VARCHAR},
              #{phoneX,jdbcType=VARCHAR},
              #{companyId,jdbcType=INTEGER},
              #{amountN,jdbcType=INTEGER},
              #{authorityX,jdbcType=VARCHAR},
              #{activeC,jdbcType=INTEGER},
              #{crtByM,jdbcType=INTEGER},
              #{crtOnDt,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="listUser" resultType="com.me.mps.dto.UserDTO">
        SELECT
              (@rownum:=@rownum+1) AS serialNumber,
              u.user_id AS userId,
              u.username_m AS usernameM,
              u.realName_m AS realNameM,
              u.password_x AS passwordX,
              u.sex_x AS sexX,
              u.age_n AS ageN,
              u.email_x AS emailX,
              u.phone_x AS phoneX,
              com.name_x AS companyName,
              u.amount_n AS amountN,
              u.authority_x AS authorityX,
              u.active_c AS activeC,
              u.crtBy_m AS crtByM,
              u.crtOn_dt AS crtOnDt,
              u.updBy_m AS updByM,
              u.updOn_dt AS updOnDt
        FROM (SELECT @rownum:=0) a,  MPS_user u
        LEFT JOIN MPS_company com ON u.company_id = com.company_id
        WHERE u.active_c = 'A' AND com.active_c = 'A'
    </select>

    <update id="deleteUserByCompanyId" parameterType="java.lang.Integer">
        UPDATE MPS_user SET active_c = 'I' WHERE company_id = #{companyId, jdbcType=INTEGER}
    </update>

    <select id="getPasswordByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT password_x FROM MPS_user WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="updatePassword" parameterType="com.me.mps.dto.UserDTO">
        UPDATE MPS_user SET password_x = #{passwordX,jdbcType=VARCHAR} WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>