@charset "utf-8";

.center {
	width: 100%;
	background-color: #ededed;
	margin-bottom: 100px;
}
.home {
	width: 1200px;
	margin: 0 auto;
	background-color: #ededed;
}
.route {
	width: 100%;
	padding: 15px 0;
	font-size: 14px;
}
.route a {
	color: #666;
}
.route i {
	width: 7px;
	height: 14px;
	margin: 0 8px;
	color: #666;
}
.left {
	width: 250px;
	margin-right: 15px;
	float: left;
	background-color: #fff;
}
.title {
	background-color: #e14041;
}
.title a {
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
	text-align: center;
}
.list li {
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px #E1E1E1 solid;
}
.list li a {
	display: block;
	height: 43px;
	width: 100%;
	color: #666;
}
.list li a:hover {
	background-color: #e14041;
	color: #fff;
}
/*右边详细内容*/
.right {
	width: 925px;
	float: right;
	background-color: #ededed;
}
/*最近订单*/
.recentOrder {
	width: 100%;
	background-color: #fff;
}
.orderName {
	height: 45px;
	line-height: 45px;
	padding-left: 30px;
	font-size: 16px;
	color: #333;
	box-shadow: 2px 2px 2px #F2F2F2;
}
.orderContent {
	padding: 20px 25px;
	font-size: 14px;
	color: #555;
}
.orderTitle {
	background-color: #fafafa;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	text-align: center;
}
.orderTitle span {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	color: #555;

}
.orderGoods {
	width: 300px;
}
.orderPrice {
	width: 115px;
}
.orderCost {
	width: 120px;
}
.orderDate {
	width: 130px;
}
.orderStatus {
	width: 190px;
}
.productOrder {

}
.orderList {
	border-bottom: 1px dashed #d8d8d8;
	height: 50px;
	padding: 28px 0;
}
.orderInfo {
	width: 300px;
	height: 50px;
	float: left;
}
.orderInfo a {
	display: block;
}
.orderInfo img {
	width: 50px;	
	height: 50px;
}
.proImg {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: 15px;
	float: left;
}
.name {
	margin-left: 20px;
	color: #333;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
}
.oPrice {
	float: left;
	font-size: 14px;
	color: #333;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 115px;
	margin-left: 5px;
}
.oTotal {
	float: left;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 120px;
	margin-left: 8px;
	color: #e14041;
}
.oTotal span {
	font-size: 18px;
}
.oDate {
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 130px;
	margin-left: 4px;
}
.oStatus {
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 190px;
	margin-left: 3px;
}
/*最近收藏*/
.recentCollection {
	margin-top: 15px;
	background-color: #fff;
}
.collectionName {
	height: 45px;
	line-height: 45px;
	text-align: left;
	font-size: 16px;
	color: #333;
	box-shadow: 2px 2px 2px #F2F2F2;
	padding-left: 30px;
}
.colContent {
	padding: 20px 50px;
	font-size: 14px;
	color: #555;

}
.colTitle {
	background-color: #fafafa;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
.colTitle span {
	display: inline-block;
	color: #555;
}
.colGoods {
	width: 420px;
}
.cPrice {
	width: 200px;
}
.cDate {
	width: 180px;
}
.productCol {
	width: 100%;
	text-align: center;
}
.colList {
	height: 90px;
	padding: 20px 0;
	text-align: center;
	color: #555;
	border-bottom: 1px dashed #d8d8d8;
}
.colInfo {
	height: 90px;
	float: left;
}
.colImg {
	display: block;
	height: 90px;
	width: 90px;
	float: left;
}
.colImg img {
	height: 90px;
	width: 90px;
}
.colName {
	float: left;
	display: block;
	height: 90px;
	line-height: 90px;
	text-align: center;
	width: 350px;
	color: #555;
}
.colPrice {
	height: 90px;
	width: 200px;
	color: #e14041;
	font-size: 16px;
	line-height: 90px;
	text-align: center;
	float: left;
}
.colPrice span {
	font-size: 20px;
}
.colDate {
	float: left;
	width: 180px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	color: #333;
}